<footer class="footer">
<small>
<%= link_to "CorgiApp", root_path %> by Nick Fieschko
</small>

<nav>
    <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
    </ul>
</nav>
</footer>